.filterParent{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
}
.group{
    width: 100%;
    align-items: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    flex-direction: column-reverse;
    padding: 0;
    margin:0;
}
.groupSelect{
    text-align: center;
    height: 38px;
    font-family: iransansweb;

    padding: 0 10px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    font-size:13px
}
.groupSort{
    margin-top: 25px;
}
.categorieParagraph{
    font-family: iransansweb;
    margin-bottom: 5px;
    font-size:14px
}
.priceParagraph{
    font-family: iransansweb;
    margin-bottom: 5px;
    font-size:14px
}
@media only screen and (min-width : 320px){
    .filterParent{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
        
    }
    .group{
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: flex-end;
        padding: 0;
        margin:0;
    }
    .groupSelect{
        text-align: center;
        height: 38px;
        font-family: iransansweb;
        font-size: 13px;

        padding: 0 10px;
        border: 1px solid blue;
        border-radius: 5px;
        box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    }
    .groupSort{
        margin-top: 25px;
    }
    .categorieParagraph{
        font-family: iransansweb;
        margin-left: 10px;
    }
    .priceParagraph{
        font-family: iransansweb;
        margin-left: 10px;

    }
}
@media only screen and (min-width : 460px){
    .filterParent{
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .group{
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;
        margin:0;
    }
    .groupSort{
        margin-top: 25px;
    }
    .groupSelect{
        text-align: center;
        height: 38px;
        font-family: iransansweb;
        padding: 0 10px;
        border: 1px solid blue;
        border-radius: 5px;
        font-size: 13px;
        box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    }
    .categorieParagraph{
        font-family: iransansweb;
    }
    .priceParagraph{
        font-family: iransansweb;
    }
}
@media only screen and (min-width : 600px){
    .filterParent{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .group{
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .groupSort{
        margin:0;
    }
    .groupSelect{
        text-align: center;
        height: 38px;
        font-family: iransansweb;

        padding: 0 10px;
        border: 1px solid blue;
        border-radius: 5px;
        font-size: 14px;
        box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    }

    .categorieParagraph{
        font-family: iransansweb;
        margin-top: 5px;
    }
    .priceParagraph{
        font-family: iransansweb;
        margin-top: 5px;
    
    }
}
@media only screen and (min-width : 720px){}
@media only screen and (min-width : 800px){}
@media only screen and (min-width : 980px){}
@media only screen and (min-width : 1080px){}
@media only screen and (min-width : 1180px){}
@media only screen and (min-width : 1260px){}
@media only screen and (min-width : 1366px){}
