.filterParent{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
}
.group{
    width: 100%;
    align-items: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    flex-direction: column-reverse;
    padding: 0;
    margin:0;
}
.groupSelect{
    text-align: center;
    height: 38px;
    font-family: iransansweb;
    /* margin:0 10px; */
    padding: 0 10px;
    border: 1px solid blue;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    font-size:14px
}
.groupSort{
    margin-top: 25px;
}
.categori_select{
    width: auto;
}
.sort_select{
    width: auto;
    /* margin-top: 25px; */
}
.categorieParagraph{
    font-family: iransansweb;
    width: 87px;
    margin-bottom: 5px;
    font-size:14px
}
.priceParagraph{
    font-family: iransansweb;
    width: 100%;
    margin-bottom: 5px;
    font-size:14px
}
@media only screen and (min-width : 320px){
    .filterParent{
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .group{
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-direction: row;
        padding: 0;
        margin:0;
    }
    .groupSelect{
        text-align: center;
        height: 38px;
        font-family: iransansweb;
        margin:0 10px;
        padding: 0 10px;
        border: 1px solid blue;
        border-radius: 5px;
        box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    }
    .categori_select{
        width: auto;
    }
    .sort_select{
        width: auto;
        margin-top: 25px;
    }
    .categorieParagraph{
        font-family: iransansweb;
        width: 87px;
    }
    .priceParagraph{
        font-family: iransansweb;
        width: 100%;
    }
}
@media only screen and (min-width : 460px){
    .filterParent{
        display: flex;
        align-items: flex-end;
        width: 100%;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .group{
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin:0;
    }
    .groupSelect{
        text-align: center;
        height: 38px;
        font-family: iransansweb;
        margin:0 10px;
        padding: 0 10px;
        border: 1px solid blue;
        border-radius: 5px;
        box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    }
    .categori_select{
        width: auto;
    }
    .sort_select{
        width: auto;
        margin-top: 25px;
    }
    .categorieParagraph{
        font-family: iransansweb;
        width: 87px;
    }
    .priceParagraph{
        font-family: iransansweb;
        width: 100%;
    }
}
@media only screen and (min-width : 600px){
    .filterParent{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .group{
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin:0;
    }
    .groupSelect{
        text-align: center;
        height: 38px;
        font-family: iransansweb;
        margin:0 10px;
        padding: 0 10px;
        border: 1px solid blue;
        border-radius: 5px;
        box-shadow: 0 0 1px 0 rgb(94, 4, 179);
    }
    .categori_select{
        width: auto;
    }
    .sort_select{
        width: auto;
    }
    .categorieParagraph{
        font-family: iransansweb;
        width: 87px;
    }
    .priceParagraph{
        font-family: iransansweb;
        width: 100%;
    }
}
@media only screen and (min-width : 720px){}
@media only screen and (min-width : 800px){}
@media only screen and (min-width : 960px){}
@media only screen and (min-width : 1080px){}
@media only screen and (min-width : 1180px){}
@media only screen and (min-width : 1260px){}
@media only screen and (min-width : 1366px){}
